@font-face {
  font-family: estead; /* set name */
  src: url(./assest/font/Estedad-Regular.ttf);
  font-weight: normal; /* url of the font */
}
@font-face {
  font-family: estead; /* set name */
  src: url(./assest/font/Estedad-Medium.ttf);
  font-weight: bold; /* url of the font */
}
@font-face {
  font-family: estead; /* set name */
  src: url(./assest/font/Estedad-Black.ttf);
  font-weight: bold;
}
@font-face {
  font-family: estead; /* set name */
  src: url(./assest/font/Estedad-Light.ttf);
  font-weight: lighter;
}

body {
  direction: rtl;
  padding: 0;
  margin: 0;
}

button {
  background: none;
  border: none;
}

.line {
  border-bottom: solid 1px #cbcbcb;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main_app {
  max-width: 1750px;
  margin: auto;
  height: 100%;
}

.header_land .header_sec1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: #020024;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(4, 4, 54, 1) 33%,
    rgba(22, 138, 161, 1) 100%
  );
}
.header_land .header_sec1 div svg {
  width: 30px;
  height: 30px;
}
.header_land .header_sec1 div svg:hover {
  cursor: pointer;
}
.header_land section nav button {
  color: #fff;
  margin: 0px 4px;
  font-family: estead;
}
.header_land section nav button:hover {
  background-color: #fff;
  color: rgba(4, 4, 54, 1);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  cursor: pointer;
}

.header_land .header_sec2 {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
}

.header_land .title_header_sec2 span {
  font-family: estead;
  font-weight: bold;
  font-size: 2.5rem;
  color: rgba(4, 4, 54, 1);
}
.header_land .title_header_sec2 p {
  font-family: estead;
  font-size: 14px;
  color: rgb(140, 140, 140);
}

.header_land .header_image {
  width: 300px;
}
.header_land .title_header_sec2 .butt_header1 {
  color: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(4, 4, 54, 1) 33%,
    rgba(22, 138, 161, 1) 100%
  );
  font-family: estead;
  margin-left: 10px;
}
.header_land .title_header_sec2 .butt_header2 {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(4, 4, 54, 1) 33%,
    rgba(22, 138, 161, 1) 100%
  );
  color: #fff;
  font-family: estead;
  padding: 10px;
  border-radius: 14px;
}
.header_land .title_header_sec2 .butt_header2:hover {
  background: #fff;
  border: solid 1px #040436;
  color: rgba(4, 4, 54, 1);
  border-radius: 12px;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  cursor: pointer;
}
.about_sec {
  margin-top: 3rem;
  height: 600px;
}
.about_sec .why_we {
  text-align: center;
  font-family: estead;
}
.title_of_why_we {
  font-weight: bold;
  margin: 1rem auto;
  font-size: x-large;
  color: rgba(4, 4, 54, 1);
  font-family: estead;
}
.about_sec .why_we .why_we_sec1 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 30px;
}
.about_sec .why_we .why_we_sec1 .slide {
  background-color: #fff;
  /* box-shadow: 4px 1px 32px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 1px 32px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 1px 32px -6px rgba(0, 0, 0, 0.75);
  font-weight: lighter; */
  border-radius: 15px;
  border: solid 1px #cbcbcb;
  padding: 20px;
  width: 300px;
}
.about_sec .why_we .why_we_sec1 .slide .image_of_why_we {
  width: 300px;
  height: 200px;
}
.offer_sec {
  text-align: center;
  font-family: estead;
}
.offer_sec .title_of_why_we {
  text-align: center;
  font-family: estead;
  padding: 40px;
}
.offer_sec .offer {
  padding: 40px;
  margin: 2rem 4rem;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  border-radius: 5px;
  background-color: #29294812;
  height: 400px;
}
.offer_sec .offer .offer_slide {
  padding: 1rem 2rem;
}
.offer_slide_re {
  background-color: #fff;
  border: solid 1px #cbcbcb;

  border-radius: 5px;
}
.offer_slide_sp {
  background-color: #fff;
  border: solid 1px #cbcbcb;
  border-radius: 5px;
}
.offer_sar {
  padding: 30px;
  display: flex;
}
.call {
  padding: 8px;
  font-family: estead;
  font-weight: bold;
  border-radius: 5px;
  color: #fff;
  margin-top: 3rem;
  width: 100%;
}
.divider {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  width: 40%;
  justify-content: center;
}

.divider:before,
.divider:after {
  content: "";
  flex: 0 1 100%;
  border-bottom: 1px solid #ccc;
  margin: 0 1rem;
  width: 50%;
}
.tick_dec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
}

.title_tick_icon {
  color: #040436;
  font-size: 10px;
  font-weight: bold;
}
.tick_icon {
  width: 20px;
  fill: #040436;
}
