@font-face {
  font-family: estead; /* set name */
  src: url(./assest/font/Estedad-Regular.ttf);
  font-weight: normal; /* url of the font */
}
@font-face {
  font-family: estead; /* set name */
  src: url(./assest/font/Estedad-Black.ttf);
  font-weight: bold;
}
@font-face {
  font-family: estead; /* set name */
  src: url(./assest/font/Estedad-Light.ttf);
  font-weight: lighter;
}

body {
  direction: rtl;
  padding: 0;
  margin: 0;
}

button {
  background: none;
  border: none;
}

.main_app {
  max-width: 1750px;
  margin: auto;
  height: 100%;
}

.header_land .header_sec1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: #020024;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(4, 4, 54, 1) 33%,
    rgba(22, 138, 161, 1) 100%
  );
}
.header_land .header_sec1 div svg {
  width: 30px;
  height: 30px;
}
.header_land .header_sec1 div svg:hover {
  cursor: pointer;
}
.header_land section nav button {
  color: #fff;
  margin: 0px 4px;
  font-family: estead;
}
.header_land section nav button:hover {
  background-color: #fff;
  color: rgba(4, 4, 54, 1);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  cursor: pointer;
}

.header_land .header_sec2 {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
}

.header_land .title_header_sec2 span {
  font-family: estead;
  font-weight: bold;
  font-size: 2.5rem;
  color: rgba(4, 4, 54, 1);
}
.header_land .title_header_sec2 p {
  font-family: estead;
  font-size: 14px;
  color: rgb(140, 140, 140);
}

.header_land .header_image {
  width: 300px;
}
.header_land .title_header_sec2 .butt_header1 {
  color: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(4, 4, 54, 1) 33%,
    rgba(22, 138, 161, 1) 100%
  );
  font-family: estead;
  margin-left: 10px;
}
.header_land .title_header_sec2 .butt_header2 {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(4, 4, 54, 1) 33%,
    rgba(22, 138, 161, 1) 100%
  );
  color: #fff;
  font-family: estead;
  padding: 10px;
  border-radius: 12px;
}
.header_land .title_header_sec2 .butt_header2:hover {
  background: #fff;
  border: solid 1px rgba(4, 4, 54, 1);
  color: rgba(4, 4, 54, 1);
  border-radius: 12px;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  cursor: pointer;
}
.about_sec {
  margin-top: 3rem;
  height: 500px;
}
.about_sec .why_we {
  text-align: center;
  font-family: estead;
}
.title_of_why_we {
  font-weight: bold;
  margin: 1rem auto;
  font-size: x-large;
  color: rgba(4, 4, 54, 1);
}
.about_sec .why_we .why_we_sec1 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 30px;
}
.about_sec .why_we .why_we_sec1 .slide {
  background-color: #fff;
  /* box-shadow: 4px 1px 32px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 1px 32px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 1px 32px -6px rgba(0, 0, 0, 0.75);
  font-weight: lighter; */
  border-radius: 15px;
  border: solid 1px #cbcbcb;
  padding: 20px;
  width: 300px;
}
.about_sec .why_we .why_we_sec1 .slide .image_of_why_we {
  width: 300px;
  height: 200px;
}
.offer_sec {
  margin: 4rem 0rem;
  text-align: center;
  font-family: estead;
  padding: 40px;
}
